<div class="card-tools">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="searchInput" placeholder="Mail Kutsunda Ara" onkeyup="searchMessages()">
        <div class="input-group-append">
            <div class="btn btn-primary">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
</div>